
body {
    background-image: url(../images/bananas.png);
    align-items: center;
}

.container {
    padding: 20px;
    margin: left 30px; 
    background: pink;
    align-content: center;
    text-align: center;
    color: white;
}

